---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js"{% if site.site_theme == "dark" %} data-theme="dark"{% endif %}>
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body{% if page.body_class or page.url == "/" %} class="{% if page.body_class %}{{ page.body_class }}{% endif %}{% if page.url == "/" %}{% if page.body_class %} {% endif %}home-root{% endif %}"{% endif %}>

    {% include browser-upgrade.html %}
    {% unless page.hide_masthead %}
      {% include masthead.html %}
    {% endunless %}

    {{ content }}

    {% unless page.hide_page_footer %}
      <div class="page__footer">
        <footer>
          {% include footer/custom.html %}
          {% include footer.html %}
        </footer>
      </div>
    {% endunless %}

    {% include scripts.html %}

  </body>
</html>
